body {
            margin: 0;
            font-family: Arial, sans-serif;
            transition: background 0.3s, color 0.3s;
        }

        header {
            background: rgb(210, 210, 215);
            color: rgb(0, 0, 0);
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 25px;
            align-items: center;
        }

        nav a {
            color: rgb(0, 0, 0);
            cursor: pointer;
            font-size: 20px;
            align-items: center;
        }

        .menu-btn {
            cursor: pointer;
        }

        .slideshow {
            display: flex;
            justify-content: center;
            gap: 25px;
            padding: 1rem;
            flex-wrap: wrap;
        }

        .slideshow .imagens {
            width: 500px;
            height: 700px;
            object-fit: cover;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 10px;
            cursor: pointer;
        }

        .slideshow .imagens:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        /* Temas */
        body.light {
            background: #f4f4f4;
            color: #000;
        }

        body.dark {
            background: #222;
            color: #fff;
        }

        body.corinthians {
            background: #000000;
            color: #ff0000;
        }